<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>This is your  Dashboard </h2>
    <div class="row">
        <div class="col-sm-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Full name</th>
                    <th>Roles</th>
                    <th>User tasks</th>
                </tr>
                </thead>
                <tr th:each="user: ${allUsers}">
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.fullname}"></td>
                    <td th:text="${user.roles}"></td>
                    <td th:text="${user.tasks}"></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tr th:each="task: ${allTasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.status}"></td>
                    <td >
                        <ul th:each="user:${task.users}">
                            <li th:text="${user.fullname}"></li>
                        </ul>
                    </td>
                    <td>
                        <a title="Edit"  data-toggle="tooltip" th:href="@{/edit_task/{taskId}(taskId=${task.id})}">
                            <i class="material-icons" style="color:blue">edit</i></a>
                        <a title="Delete"  data-toggle="tooltip" th:href="@{/delete/{taskId}(taskId=${task.id})}">
                            <i class="material-icons" style="color:red">delete</i></a>
                        <a title="Done"  data-toggle="tooltip" th:href="@{/done/{taskId}(taskId=${task.id})}">
                            <i class="material-icons" style="color:green">done</i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
            <form id= "taskForm" class="form-signin" action ="#" th:action="@{/addTask}" th:object = "${task}" method="post">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
                <h1 class="h3 mb-3 font-weight-normal">Add new Task</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Description</td>
                        <td>Add users</td>
                    </tr>
                    </thead>
                <tr>
                    <td>
                        <textarea name="Text1" cols="30" rows="6" th:field="*{description}" form = "taskForm">
                            Add description here
                        </textarea>
                    </td>
                    <td>
                        <th:block th:each="user : ${allUsers}">
                            <input type="checkbox" name="users" th:value="${user.id}"/>
                            <label th:text="${user.fullname}"></label>
                        </th:block>
                    </td>
                </tr>


                </table>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>