<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>[[${#httpServletRequest.remoteUser}]] - personal page</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>Available tasks:</h2>
    <form id="taskForm" action="#"
          th:action="@{/update/{taskId}(taskId=${task.id})}"
          th:object="${task}"
          method="post">


        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">Edit Task</h1>
        <table class="table">
            <thead>
            <tr>
                <td>Description</td>
                <td>Add users</td>
            </tr>
            </thead>
            <tr>
                <td>
                        <textarea name="Text1" cols="30" rows="6" th:field="*{description}" form = "taskForm">
                            ${task.description}
                        </textarea>
                </td>
                <td>
                    <th:block th:each="user : ${allUsers}">
                        <input type="checkbox" name="users" th:value="${user.id}"/>
                        <label th:text="${user.fullname}"></label>
                    </th:block>
                </td>
            </tr>


        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
</body>
</html>