<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Task Manager</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Welcome!</h1>

    <p>Click <a th:href="@{/login}">here</a> to register or login.</p>
</div>
</body>
</html>