<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>[[${#httpServletRequest.remoteUser}]] - personal page</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>Available tasks:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th>Users</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="task: ${availableTasks}">
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td >
                <ul th:each="user:${task.users}">
                    <li th:text="${user.fullname}"></li>
                </ul>
            </td>
            <td>
                <a title="Take"  data-toggle="tooltip" th:href="@{/take_task/{taskId}(taskId=${task.id})}">
                    <i class="material-icons" style="color:blue">pets</i></a>
                <a title="Finish"  data-toggle="tooltip" th:href="@{/finish_task/{taskId}(taskId=${task.id})}">
                    <i class="material-icons" style="color:green">done</i></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>